/* Navbar styles */
#trash {
    padding: 0;
    float: right;
}

#fav {
    padding: 0;
    margin: 0 1px;
}

.dropdown-menu {
    padding: 4px;
}


#logo {
    width: 100px;
}

/* Cards styles*/

#img {
    width: auto;
}

.card-title {
    text-align: center;
}

#likesButton {
    float: right;
}

h1 {
    
    margin: 5px;
}

/* Single view styles */

#name {
    text-align: center;
}

.item p {
    display: inline-block;
    font-size: 25px;
}
.key {
    text-align: left;
    width: 50%;
    font-weight: bold;
}
.value {
    text-align: right;
    width: 50%;
}

#singleImg {
    width: 100%;
} 